.title-page-header {
  font-size: 4.75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2vh;
}

html, body {
   margin-top: 0; 
  }

#placeholder {
  height: 4vh;
}

.section {
  font-size: 4.75vh;
  margin-top: 3vh
  
}
#info {
  font-size: 3vh;
  margin-top: 2vh;
}

#confidenceText{
  font-size: 2.75vh;
  margin-top: 2vh;
}
#confidenceSubText{
  font-size: 2vh;
  margin-top: 3vh;

}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90vw;
 }


ul {
  list-style-type:none;
  font-size: 3vh;
  padding: 0
}

li{
  padding-bottom: 2vh;
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* margin: 2vw; */
}

#checkbox{
  color: gray;
  height: 4vw;
  width: 4vw;
  
}

#calc{
  background-color: rgb(111,207,151,1);
  color: mintcream;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initialAmt{
  background-color:rgb(172, 171, 171);  
  color:mintcream ;
  font-size: 3vh;
  width: 30vw;
  border: 0;

}


#initialYear{
  background-color:rgb(172, 171, 171);
  color: mintcream;
  font-size: 3vh;
  width: 30vw;
  border: 0;

}

#finalYear{
  background-color:rgb(172, 171, 171);
  color:mintcream;
  font-size: 3vh;
  width: 30vw;
  border: 0;
}

#button-holder{
  width: 26vw;
  margin: auto;
}

#button2{
  background-color: cornflowerblue;
  color: mintcream;
  border: 3px mintcream;
  border-radius: 7vw;
  font-size: 3vh;
  width: 26vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  }
#backButton{
  text-decoration: none !important;
  color:blue;
  background-color: white;
  border: 0px;
  font-size: 3vh;
  padding-top: 2vh;
}
.newVal{
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: mintcream
}

#result{
  text-align: center;
  background-color: rgb(111,207,151,1);
  color: mintcream !important;
  font-size: 3vh;
  width: 40vw;
  border: 0;
}

input::-webkit-input-placeholder{
  color: mintcream ;
}
input:-moz-placeholder {
  color: mintcream ;
}


#initialInvestment{
  background-color:rgb(237, 237, 237);
  color: mintcream;
  font-size: 3vh;
  width: 30vw;

}

#initialInvestmentInput{
  background-color:rgb(172, 171, 171);  
  color:mintcream ;
  font-size: 2.75vh;
  width: 22vw;
  border: 0;

}

#annualAdditions{
  background-color:rgb(237, 237, 237);
  color: mintcream;
  font-size: 3vh;
  width: 30vw;
  border: 0;

}

#annualAdditionsInput{
  background-color:rgb(172, 171, 171);  
  color:mintcream ;
  font-size: 2.75vh;
  width: 22vw;
  border: 0;

}



#yrsToGrowInput{
  background-color:rgb(172, 171, 171);  
  color:mintcream ;
  font-size: 2.75vh;
  width: 22vw;
  border: 0

}

#result1{
  text-align: center;
  background-color: rgb(111,207,151,1);
  color: mintcream;
  font-size: 2.75vh;
  width: 25vw;
  border: 0
}

#result2{
  text-align: center;
  background-color: rgb(111,207,151,1);
  color: mintcream;
  font-size: 2.75vh;
  width: 25vw;
  border: 0
}

#quiz {
  font-size: 4.25vh;
  font-weight: bold;
  margin-top: 2vh;
  display: block,
  
}
#correct{
  background-color: rgb(111,207,151,1) !important ;
  color: mintcream;
  border:0;
  font-size: 2.75vh;
  margin-top: 2vh;
  border-radius: 7vw;
  outline: none;
  padding: 1vh
}

#incorrect{
  background-color: white;
  color: black;
  border: 0.5vh solid red;
  font-size: 2.35vh;
  margin-top: 2vh;
  border-radius: 7vw;
  outline: none;
  padding: 1vh
}

#answer2{
  display: flex;
  flex-direction: column;
}

#two-answer-btn{
  width: 85vw;
  display: flex;
  justify-content: space-around;
  
}

#quizButton {
  background-color: white;
  color: black;
  font-size: 2.75vh;
  margin-top: 2vh;
  border-radius: 7vw;
  outline: none;
  padding: 1vh
}

#question{
  font-size: 3.5vh;
}

#finish{
  background-color: white;
  color: black;
  font-size: 2.75vh;
  margin-top: 2vh;
  border-radius: 85vw;
  outline: none;
  padding: 1vh;
  width: 99vw;
  display: flex;
  justify-content: space-around;
  text-decoration: none !important;
}

a:link {
 text-decoration: none;
}

#done{
  background-color: cornflowerblue;
  color: mintcream;
  font-size: 3.5vh;
  border-radius: 7vw;
  padding: 1vh;
  outline: none;
  border: 0;
}

#done-wrap{
  width: 85vw;
  display: flex;
  justify-content: space-around;
}

.loveBucksIcon{
  width: 47vw
}

.mapIcons{
  width: 47vw;
  
}

#emergencyFundMap{
  padding-top: 3vh;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  margin:auto;
  text-align: center;
}

#emergencyFundInfo{
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center;
}

#emergencyFundSize{
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
 }

#buildingEmergencyFund{
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
}

input[type="image" i]{
  margin-top: -1em;
  margin-right: -1em;
  margin-bottom: -2em;
}


h5{
  font-size: 6vw;
  }

h4{
  padding-top: 4vh;
  font-size: 6vw;
  margin:auto;
  text-align: center;
}

#pathwaysMap{
  padding-top: 3vh;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  margin:auto;
  text-align: center;
}

#toEmergencyFund{
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center;
  padding-top: 3vh;
}

#toInvesting1{
  padding-top: 3vh;
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
}

#investing1Map{
  padding-top: 3vh;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  margin:auto;
  text-align: center;

}

#whatIsInvesting{
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center;
  padding-top: 4vh;
}

#whyInvest{
  padding-top: 3vh;
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
}

#investingEarly{
  padding-top: 3vh;
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
}

#securities{
  padding-top: 3vh;
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
}

#stockMarket{
  padding-top: 3vh;
  flex-direction: column;
  justify-items: center;
  width: 65vw;
  margin: auto;
  text-align: center
}

.confidenceQuizButton {
  background-color: cornflowerblue !important;
  color: mintcream;
  border: 3px mintcream;
  font-size: 2.75vh;
  margin-top: 2vh;
  border-radius: 8vw;
  outline: none;
  padding: 1vh;
  width: 70vw;
  margin: auto;
}


.buttonWrap{
  width: 70vw;
  margin: auto;
  padding-top: 2vh;
}
